{{>header}}
{{>navbar}}
<table class="table table-dark table-hover">
 <link rel="stylesheet" href="/public/styles/estilos.css">
    <thead>
    <tr>
   <td>Nombre</td>
   <td>Nacionalidad</td>
   <td>Corriente</td>
   <td>Pintura</td>
   </tr>
   </thead>
   <tbody>
       <tr>
        <td>Diego Rivera</td>
        <td>Mexicano</td>
        <td>Muralismo mexicano</td>
       <td><p>Night of the Rich</p><img src="imagenes/nightD.jpg" alt="" width="250" height="300"></td>
       </tr>
   </tbody>
 </table>
          
        

{{>footer}}