{{>header}}
{{>navbar}}
<table class="table table-dark table-hover">
    <thead>
    <tr>
   <td>Nombre</td>
   <td>Nacionalidad</td>
   <td>Corriente</td>
   <td>Pintura</td>
   </tr>
   </thead>
   <tbody>
       <tr>
        <td>Frida Kahlo</td>
        <td>Mexicana</td>
        <td>Arte Moderno</td>
      <td><p> Autorretrato con un Mono</p> <img src="imagenes/monoF.jpg" alt="" width="250" height="300"></td>
       </tr>
   </tbody>
 </table>
          
             

{{>footer}}