{{>header}}
{{>navbar}}
 <table class="table table-dark table-hover">
    <thead>
    <tr>
   <td>Nombre</td>
   <td>Nacionalidad</td>
   <td>Corriente</td>
   <td>Pintura</td>
   </tr>
   </thead>
   <tbody>
       <tr>
        <td>Leonardo da Vinci</td>
        <td>Holandes</td>
        <td>Renacimiento</td>
       <td><p>La gioconda</p><img src="imagenes/giocondaL.jpg" alt="" width="250" height="300"></td>
       </tr>
   </tbody>
 </table>
          
             
            
            
           

{{>footer}}