{{>header}}
{{>navbar}}

  <table class="table table-dark table-hover">
    <thead>
    <tr>
   <td>Nombre</td>
   <td>Nacionalidad</td>
   <td>Corriente</td>
   <td>Pintura</td>
   
   </tr>
   </thead>
   <tbody>
       <tr>
        <td>Pablo Picasso</td>
        <td>Español</td>
        <td>Cubismo</td>
        <td><p>Lectura</p><img src="imagenes/lectura.jpg" alt="" width="250" height="300"></td>
       </tr>
   </tbody>
 </table>
     
         
         
          
        

{{>footer}}